/*---------------------------------------------------- TPO Codo a Codo -------------------------------------------------------------*/
/*-----------------------------------------------------Hoja de estilos--------------------------------------------------------------*/

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
}

html {
    font-size: 1rem;
    height: 100%;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 5%;
    padding: 2%;
}

h4 {
    font-size: 25px;
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    text-align: center;
}

h6 {
    font-size: 15px;
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}

p{
    font-size: 15px; 
}
/*-------------------------------------- Contenedor grid --------------------------------------*/
/*------------------- Header -----------------*/
header{
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color:#e5fff6;
}

/*-------------------Grid Main -----------------*/
.grid-main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    background-color:aquamarine;
    padding: 10px;
  }
  
  .grid-main-container >div  {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
  }

  .contenido-principal {
    grid-column-start: 1;
    grid-column-end: 4;
  }

/*-------------------Grid Footer -----------------*/  
footer {
    background-color:aquamarine;
    padding: 0;
    margin: 0;
  }
  
footer > div  {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
  }
  
.Footer{
    display: inline-grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align:center;
    padding-bottom: 5px;
    vertical-align: middle;
  }

.icono{
    width: 20px;
    display: inline-block;
    align-items:left;
  }

  .DyD{
      text-align: justify;
      margin-top: 9px;
      margin-left: 2%;
  }

  .anio{
      text-align: right;
      margin-top: 9px;
      margin-right: 5px;
  }

  /*-------------------------------------------logo y menu---------------------------------------------------*/

  .header-logo{
    margin-top: 5px;
}

.menubar {
    display: inline-flex;
    align-items: center;
}

.menubar ul{
    list-style: none;
}

.menubar li{
    float: left;
    font-weight: 700;
    text-align: center;
    margin: 0 1.5rem 0;
}

.menubar a {
    text-decoration: none;
    color: black;
}

.menubar a:hover {
    color: #358e9d;
    font-size: 30px;
}

.menubar li a {
    font-size: 1.5rem;

}

/* ---------------------------------------------------- slider ------------------------------------------------------ */
body{
    background-color: lightgrey;
}

#slider-inicio{
 margin: auto;
 background-color: white;
 max-width: 100%;
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
}

#slider-inicio > ul, li {
   padding: 0;
   margin: 0;
   list-style: none;
}

#slider-inicio > ul.slider{
 position: relative;
 max-width: 100%;
 width: 100%;
 height: 700px;
}

#slider-inicio > ul.slider li {
   position: absolute;
   left: 0px;
   top: 0px;
   opacity: 0;
   width: inherit;
   height: inherit;
   transition: opacity .5s;
   background:#fff;
}

#slider-inicio > ul.slider li img{
 width: 100%;
 height: 700px;
 object-fit: fill;
}

#slider-inicio > ul.slider li:first-child {
   opacity: 1; /*Mostramos el primer <li>*/
}

#slider-inicio > ul.slider li:target {
   opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#slider-inicio > .menuSlider{
 text-align: center;
 margin: 10px;
}

#slider-inicio > .menuSlider li{
 display: inline-block;
 text-align: center;
}

#slider-inicio > .menuSlider li a{
 display: inline-block;
 color: white;
 text-decoration: none;
 background-color: grey;
 padding: 1% 1% 1% 1%;
 width: 20px;
 height: 20px;
 font-size: 15px;
 border-radius: 5px;
}

/* -------------------------------------------------- secciones -------------------------------------------------------------*/
.grid-interno {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 1px;
    justify-content: center;
    height: auto;
  }

.secciones {
    border: 2px black solid;
    min-height: 50px; 
    margin: 0.5rem;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 5px; 
}

.secciones img{
    width: 100%;
    height: 220px;
    object-fit: fill;
    vertical-align: bottom;
    border-radius: 5px;
}

.titulo{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* ---------------------------------------- Formulario de Contacto ---------------------------------------------------*/
.formulario-contacto{
    background-color: aquamarine;
    display:grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;  
}

.contacto{
    width: 50%;
    background-color: #e5fff6;
    font-size: 20px;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    margin: 0% 25%; 
    padding: 2% 5%;
}

.contacto > form >div{
    padding: 2%;
}
/*--------------------------------------------Estilos pag de Contacto ---------------------------------------------*/
.redes{
    
}
.iconos{
    display: inline-flex;
    width: 60%;
    justify-content: space-around;
    height: 15%; 
    margin-left: 20%;
}
/*--------------------------------------------Estilos pag Sobre Nosotros------------------------------------------------------*/
/*---------------------------------------------- Animación ------------------------------------------------------*/

.animacion{
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:white; left:400px; top:0px;}
}

/*---------------------------------------------- Estilos pag Destinos ------------------------------------------------------*/
.video{
    margin: 5% 10%;
}

.regiones {
    border: 2px solid;
    height: 300px;
    width: 150px;
}

.grid-regiones{
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 14%;
}

.region{
    border: 3px solid hsl(189, 50%, 41%);
    background-color: #fff;
    position: relative;
}

.region-info > p {
    font-size: 15px;
    font-weight: 800;
    color: black;
    margin: 10% 0;
}

.region-img{
    width: 200px;
    height: 400px;
}

#NOA:target{
    opacity:1;
    pointer-events: auto;
}
#NEA:target{
    opacity:1;
    pointer-events: auto;
}
#Cuyo:target{
    opacity:1;
    pointer-events: auto;
}
#Centro:target{
    opacity:1;
    pointer-events: auto;
}
#Patagonia:target{
    opacity:1;
    pointer-events: auto;
}
.provincias{
 background-color: hsl(189, 50%, 41%, .8);
 color: black;
 font-weight: 800;
 opacity: 0;
 pointer-events: none;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 transition: all 1s ease-in;
}

.listadoProv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin: auto 0;
    height: 100%; 
}

.close {
    /* display: block; */
    display: block;
    background-color: #358e9d;
    color: #fff;
    text-decoration: none;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;   
}

.close:hover{
    background-color: white;
    color: black;
}